.history_list {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* 예약 없는 경우 */
.no_booking {
  display: flex;
  flex-direction: column;
}

.no_booking > p {
  font-weight: bold;
  font-size: 1.5rem;
}

.go_home {
  margin-top: 10px;
}
