.pass-container {
  padding: 1em 4em;
}
.pass-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: block;
  font-size:15px;
  font-weight: bold;
}

#old,
#_new,
#confirm {
  width: 50vw;
  height: 2rem;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 0 10px;
}

form div+div {
  margin-top: 1em;
}
