.calendar {
  width: 90vw;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 10px 0;
  font-weight: bold;
}

/* DATE FILTER */
.date-filter {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px 0;
}

.next_btn,
.prev_btn {
  margin: 0 10px;
}

.next_btn,
.prev_btn:hover {
  cursor: pointer;
}

/* DATE PICKER */
.date-picker {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
}

.date-picker > li {
  width: calc(100% / 7);
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.date-picker > li:nth-child(7n + 1) {
  color: #d13e3e;
}

.date-picker > li:nth-child(7n) {
  color: #396ee2;
}

.disable {
  opacity: 0.2;
}

.other {
  opacity: 0.2;
}

.today {
  border: 1px solid black;
}

.reserved {
  opacity: 0.2;
}

.isClick {
  background-color: mediumseagreen;
  color: white;
}