header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height :40px ;max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.header_menu {
  position: absolute;
  top: 2.3rem;
  right: 0.5rem;
  min-width: 110px; max-width: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  z-index: 2;
  background-color: white;
}

.header_menu > span {
  padding: 12px 20px;
}

.icon {
  font-size: 25px;
  margin: 0 1.6rem;
}