.test {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px 10px;
}

.test > div {
  width: calc(100% / 5);
  text-align: center;
  border-radius: 5px;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 0;;
  margin: 5px;
}

.clicked {
  background-color: mediumseagreen;
}

.expire {
  opacity: 0.2;
}

.ableClick {
  color: mediumseagreen;
}